<div class="row container-fluid">
<div class="col-sm-12">
    <h3>Experience</h3>
    <hr>
</div>
<div class="col-sm-12">
    <h3>Career</h3>
</div>
    <div class="col-sm-12 col-md-2">
        <h4>Synechron</h4>
        <h4>Senior Associate Web Developer</h4>
        <p>Feb 2017 - Present</p>
    </div>
    <div class="col-sm-12 col-md-10">
        <h5>Client: Project 2- Wells Fargo (Front-end Developer/Business Analysis)</h5>
        <ul>
            <li>Overview: Web application rewrite from an Ruby on Rails to Angular 5 and Java.</li>
            <li>Assumed the role of a BA in order to gather information and understand business requirements. This includes part taking in meetings covering user stories; 
                generating requirement analysis documentation and technical detailing documentation, containing activity, sequence and class diagrams.</li>
            <li>Following agile methodology with sprint periods lasting two weeks.</li>
            <li>Currently working on development phase implementing frond-end functionalities and UI using Angular 5, Boostrap 4 and creating unit test cases accordingly using Jasmine</li>    
        </ul>
    </div>
    <div class="col-sm-12 col-md-2"></div>
    <div class="col-sm-12 col-md-10">
        <h5>Client:  Project 1- Wells Fargo (Front-end Developer)</h5>
        <ul>
            <li>Collaborated with team mates in Technical Design Documentation according to business requirements.</li>
            <li>Implemented and follow MVC design patterns in order to create clean reusable code, using RIA(JS) and JSP; captured data from the backend using AJAX calls.</li>
            <li>Optimized and restructured written code, using HTML5 (JSP) and JavaScript (RIA), in other to create unit test cases, using Mocha.js, Chai.js and Sinon.js.</li>
            <li>Utilized GitHub/GitHub Desktop as version control tools; collaborated with QA team for reported defects and provided fixes accordingly.</li>    
        </ul>
    </div>
    <div class="col-sm-12 col-md-2"></div>
    <div class="col-sm-12 col-md-10">
        <h5>Training</h5>
        <ul>
            <li>2 weeks of advance Synechron training on JavaScript, TypeScript, Node.js and Angular.js (Ng 4).</li>
            <li>5 weeks + of training covering technologies such as Java SE, HTML5, CSS3, JavaScript, Angular.js, Angular 2 and Node.js</li>
            <li>
                <ul>
                    <li>Worked in a team project consisting of a HelpDesk web application. Implemented user login validation, graphical charts and CRUD (Create, Read, Update, Delete) 
                        functionalities for HelpDesk ticketing system. Technologies used were Angular.js, Charts.js, HTML5, CSS and Bootstrap.</li>
                    <li>Link: https://github.com/chenriq5/HelpDesk</li>
                </ul>
            </li>
            <li>Assist in an in house Synechron project developing a web application. Technologies used were HTML5, jQuery, Wordpress, Wordpress PHP.</li>    
        </ul>
    </div>
    <div class="col-sm-12 col-md-2">
            <h4>Synechron</h4>
            <h4>Web Developer Intern</h4>
            <p>Feb 2017 - Present</p>
        </div>
        <div class="col-sm-12 col-md-10">
            <h5>Client: Project 2- Wells Fargo (Front-end Developer/Business Analysis)</h5>
            <ul>
                <li>Overview: Web application rewrite from an Ruby on Rails to Angular 5 and Java.</li>
                <li>Assumed the role of a BA in order to gather information and understand business requirements. This includes part taking in meetings covering user stories; 
                    generating requirement analysis documentation and technical detailing documentation, containing activity, sequence and class diagrams.</li>
                <li>Following agile methodology with sprint periods lasting two weeks.</li>
                <li>Currently working on development phase implementing frond-end functionalities and UI using Angular 5, Boostrap 4 and creating unit test cases accordingly using Jasmine</li>    
            </ul>
    </div>
</div>